{% extends 'my_account/account_settings.html' %}

{% block Title %}
  Syrians | Settings - Reset Password
{% endblock %}

{% block Settings_Details %}
        <!--
        <form class="New-Password">
          <label for="Set_New_Password">Enter New Password</label>
          <input type="password" name="Set_New_Password">
          <label for="Confirm_New_Pasword">Confirm New Password</label>
          <input type="password" name="Confirm_New_Pasword">
          <input class="NewPassword-btn" type="submit" value="Reset">
        </form>
        -->
    {% include 'my_account/under_development.html' %}
{% endblock %}
