{% extends 'my_account/account_settings.html' %}

{% block Title %}
  Syrians | Settings - Send Code for Reset Password
{% endblock %}

{% block Settings_Details %}
        <!--
        <div class="Send-Code">
          <label for="Email_to_SendCode">Enter email what you want to reset it password.</label>
          <input type="text" name="Email_to_SendCode" value="">
          <a Class="SendCode-link" href="{% url 'Verify' request.user %}">Send Code</a>
        </div>
        -->
    {% include 'my_account/under_development.html' %}
{% endblock %}
