{% extends 'my_account/account_settings.html' %}

{% block Title %}
  Syrians | Settings -  Virify Email for Reset Password
{% endblock %}

{% block Settings_Details %}
        <!--
        <div class="Verify-Code">
          <label for="Verify_Code">Enter Code</label>
          <input type="text" name="Verify_Code" value="">
          <a Class="VerifyCode-link" href="{% url 'Reset_Password' request.user %}">Verify</a>
        </div>
        -->
    {% include 'my_account/under_development.html' %}
{% endblock %}
