{% extends 'profiles/profile.html' %}
{% load static %}

{% block Title %}
  Syrians | {{  }} - Papyrus
{% endblock %}

{% block Section_Content %}
    <div class="Papyrus">
      {% for art in posts %}
        <div class="Post">
          <div class="Post-Header" style="background-color:{{art.BG_Color}};color:{{art.Font_Color}};">
            <div class="Post-UserDate">
              <a href="#" style="color:{{art.Font_Color}};">{{ art.username.username }}</a>
              <span>{{ art.Post_Date }}</span>
            </div>
          </div>
          <div class="Post-Body" style="background-color:{{art.BG_Color}};color:{{art.Font_Color}};">
            <pre style="font-size:{{art.Font_Size}}px">{{ art.Post }}</pre>
          </div>
          <div class="Post-Footer GLS-Bar" style="border: 2px solid {{art.BG_Color}};">
            <i class="fas fa-thumbs-up GoodPost-btn" onclick="makeGood(this, '{{ art.id }}')"></i>
            <i class="fas fa-heart AmazingPost-btn" onclick="makeAmazing(this, '{{ art.id }}')"></i>
            <i class="fas fa-star StarPost-btn" onclick="getStar(this)"></i>
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}
